/*
-----------------------------------------------------
RESET
-----------------------------------------------------
*/

p {
    margin: 0;
}

ul, ol, li, nav ul, nav ol {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

/*
----------------------------------------------------
COLORS
----------------------------------------------------
*/

$black:                         #000000 !default;
$white:                         #ffffff !default;
$gray_dark:                     #666666 !default;
$gray_med:                      #999999 !default;
$gray_light:                    #dddddd !default;
$gray_lighter:                  #f7f7f7 !default;
$blue_med:                      #0072a5 !default;
$text_base:                     #555555 !default;

/*
----------------------------------------------------
GRID SYSTEM
----------------------------------------------------
*/

$page_max_width:                988px !default;

/*
----------------------------------------------------
GLOBALS
----------------------------------------------------
*/

html, body {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background: $gray_lighter;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $text_base;

    a {
        text-decoration: none;
    }
}

/*
----------------------------------------------------
BOX SYSTEM
----------------------------------------------------
*/

.box-row {
    width: $page_max_width;
    margin: 0 auto;
    position: relative;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

/*
----------------------------------------------------
MAIN
----------------------------------------------------
*/

body > main {
    width: 100%;
    min-height: 500px;
    padding: 30px 0;

    h1 {
        font-size: 40px;
        line-height: 45px;
        font-weight: 200;
        margin: 20px 0;
        padding: 0;
    }

    h2 {
        font-size: 30px;
        line-height: 33px;
        font-weight: 200;
        margin: 20px 0;
        padding: 0;
    }

    a {
        color: $text_base;

        &:active, &:focus, &:visited {
            color: $text_base;
            text-decoration: none;
        }

        &:hover {
            color: $blue_med;
        }
    }

    p {
        color: $black;
        font-size: 14px;
        line-height: 18px;
        margin: 10px 0;

        &.note {
            color: $gray_med;
        }
    }
}

/*
----------------------------------------------------
HELPERS
----------------------------------------------------
*/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

.lf {
    float: left;
}

.rf {
    float: right;
}

.hidden {
    display: none;
}

/*
----------------------------------------------------
BUTTONS
----------------------------------------------------
*/

.btn {
    background: $blue_med;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: $white;
    border: 1px solid #fff;
    padding: 8px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 6px;
    box-sizing: border-box;
    text-transform: uppercase;

    &.btn-large {
        font-size: 18px;
        line-height: 22px;
    }

    i {
        margin-right: 5px;
    }
}

/*
----------------------------------------------------
FORMS
----------------------------------------------------
*/

input {
    font-size: 13px;
    padding: 4px 10px;
    margin: 5px 0;
    box-sizing: border-box;

    &[type=checkbox] {
        width: 60px;
    }
}

/*
----------------------------------------------------
TAGS
----------------------------------------------------
*/

.tag {
    background: $gray_lighter;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 11px;
    font-weight: 400;
    color: $gray_dark;
    border: 1px solid $gray_light;
    padding: 3px;
    margin: 5px 0;
    border-radius: 3px;
    box-sizing: border-box;
    text-transform: uppercase;
    vertical-align: middle;
}

/*
----------------------------------------------------
GITHUB
----------------------------------------------------
*/

.box-github {
    width: 700px;
    text-align: center;
    margin-top: 30px;

    .form-repos {
        position: relative;
        width: 400px;
        margin: 0 auto;

        input {
            width: 400px;
            font-size: 16px;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid $gray_light;
        }

        i {
            position: absolute;
            top: 17px;
            right: 15px;
            z-index: 1;
            font-size: 18px;
            color: $gray_med;
            cursor: pointer;
        }
    }

    .repos {

        li {
            width: 100%;
            height: 200px;
            border: 1px solid $gray_light;
            border-bottom: none;
            background: $white;
            text-align: left;
            padding: 10px 20px;
            position: relative;
            box-sizing: border-box;

            &:last-child {
                border-bottom: 1px solid $gray_light;
            }

            &:hover {
                border-left: 10px solid $blue_med;
                padding-left: 11px;

                .tag {
                    background: $blue_med;
                    color: $white;
                }
            }

            > p {
                max-width: 500px;
            }

            aside {
                position: absolute;
                top: 50%;
                right: 20px;
                width: 70px;
                height: 90px;
                transform: translateY(-50%);

                p {
                    line-height: 30px;
                    margin: 0;

                    i {
                        width: 20px;
                        text-align: center;
                        margin-right: 5px;
                    }
                }
            }

        }

    }

    #login-buttons {
        position: fixed;
        top: 20px;
        right: 20px;
    }
}
